$color1 : #0460D9;
$color2 : #0597F2;
$color3 : #07B0F2;
$color4 : #1BCBF2;
$color5 : #1BCBF2;
$color6 : white;
$mainFont : myriad;
$secondFont : sans-serif;
$margin : 5%;

// work on widthes.

$first-width: 1200px; 
$second-width: 995px;
$third-width: 769px;
