@import './variables';
@import './functions';
@import './mainsection';

// some main styles for all page.

html{
    scroll-behavior: smooth;
    
}
*{
    margin : 0;
    padding: 0;
}
.my-container{
    padding: 0 10% 0 10%;
}
.hr {
    height:1px;
    background-color: black;
    width:80%;
    margin:0% 10% 1% 10%;   
}

